body {
  background: url("https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center;
}

h1, h3, h4, h5 {
  margin: 0;
}

.jumbotron {
  background-color: black;
  padding: 0.5em;
}

#status {
  width: 100%;
}

.comp-deck {
  max-width: 60%;
}

.comp-img {
  height: 12em;
  object-fit: cover;
}

.player-row h3 {
  font-size: 2em;
  letter-spacing: 0.8em;
  text-shadow: 1px 1px 3px red;
}

.player-deck {
  max-width: 80%;
  margin: auto;
}

.player-deck .card {
  cursor: pointer;
}

.card-body {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.card-img-top {
  height: 12em;
}

#rock img {
  object-fit: cover;
}